*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color:  #000430;
    color:white;
}
.container{
    display:flex;
    align-items:center;
    flex-direction:column;
    justify-content: center;
    margin-top:120px;
    max-width:500px;
    margin:120px auto 0px auto;
}
.stats_container{
    padding:30px;
    border-radius: 20px;
    border-color: #828dff;;
    border-width: 2px;
    border-style: solid;
    display:flex;
  
    width:100%;
    justify-content: space-between;
    gap:30px;

}
.details{
    width:100%;
}
#progressbar {
    width: 100%;
    height: 10px;
    background-color: #171c48;
    border-radius: 50px;
    margin-top: 20px;
}
.progress{
    width:50%;
    height: 10px;
    background-color: teal;
    border-radius: 50px;
    transition: all 0.3s ease;
}

#number{
    width:100px;
    height: 100px;
    background-color: #828dff;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display:flex;
    font-weight: bold;
    font-size:30px;
}
form{
    margin-top:60px;
    width:100%;
    display:flex;
    gap: 30px;
}
input{
    border-style: solid;
    border-width: 2px;
    background-color: #171c48;
    padding:10px 0px 10px 25px;
    width:900px;
    border-radius: 10px;
    border-color: #828dff;
    color:white;
    outline: none;
   
    
}
button{
    width:100px;
    height: 40px;
    background-color:#828dff ;
    border-radius: 30px;
    font-size: 30px;
    align-items: center;
    text-align: center;
    color:white;
    outline: none;
}
#editbutton,#deletebutton{
    width:50px;
    height:30px;
    color:white;
    background-color: #828dff;
    font-size:10px;
    font-weight: normal;
    margin:0px 0px 0px 10px;
    font-size:15px;
}
.taskitem{
    display:flex;
    background-color: #171c48;
    padding:10px;
    width:100%
}
.task_items{
    display:flex;
    flex-direction: column;
    gap:10px;
    margin-top:10px;
    border-radius:5px;
    width:100%;
    justify-content: space-between;
}
.tasks{
    width:350px;
    display:flex;
    align-items: center;
}
.checkbox{
    width:50px;
    display: inline;
}
.taskitem{
    height:70px;
    align-items: center;
}